.container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}

.box {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}